.mood-score-slider {
    width: 100%;
}

.slider-container {
    margin: 25px 0;
}

.explain-mood-rating {
    font-size: 14px;
}

.mood-rating ul li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: normal;
}

.slider-container .slider.slider-horizontal {
    width: 100%;
}

h1, h2, .slider-value, .button-container {
    text-align: center;
}

h1, h2 {
    margin-bottom: 25px;
}

.slider-value {
    font-size: 4rem;
}

.button-container {
    margin: 25px 0;
}

.save-my-score {
    font-size: 3rem;
}